/* Write your code here. */

.li-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 170px;
  list-style-type: none;
  background-color: #ffffff33;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .li-con {
    width: 32%;
    height: 120px;
  }
}
.emojis {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .emojis {
    width: 60px;
    height: 60px;
  }
}
.emoji-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
