/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
}

.emoji-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.ul-con {
  width: 50%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
