/* Write your code here. */

.win-lose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.dtls-img-con {
  border-radius: 20px;
  padding: 30px;
  width: 50%;
  display: flex;
  background-color: #ffffff33;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .dtls-img-con {
    width: 80%;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .dtls-img-con {
    width: 70%;
  }
}
.dtls-con {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .dtls-con {
    order: 2;
  }
}
.win-lose-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .win-lose-heading {
    font-size: 25px;
  }
}
.score-heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .score-heading {
    font-size: 20px;
  }
}
.final-score {
  font-size: 30px;
  font-family: 'Roboto';
  color: #6a59ff;
  margin-top: 0px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .final-score {
    font-size: 20px;
  }
}
.play-again {
  width: 100px;
  height: 35px;
  font-weight: 600;
  font-family: 'Roboto';
  border-radius: 15px;
  background-color: #ffce27;
  border: none;
  cursor: pointer;
  color: #3d3d3d;
}

.img-win-lose {
  width: 300px;
  order: 1;
}
@media screen and (max-width: 768px) {
  .img-win-lose {
    width: 150px;
    order: 1;
  }
}
